Thumbs.db
desktop.ini
.DS_Store
*.log

###
# PHP Storm
###

.idea
.phpstorm.meta.php
_ide_helper.php


###
# Laravel
###

/vendor/
node_modules/
/stats/
Homestead.yaml
Homestead.json
.sass-cache

# Laravel 5 & Lumen specific
.env.*.php
.env.php
.env

# public folder
public/*
!public/img/
!public/demodata/
!public/favicon.ico
!public/index.php
!public/.htaccess
